body { background: #9de66; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 31px; display: flex; }
.block-order-0 { color: #c07620; font-size: 21px; margin-bottom: 5px; }
.block-validator-1 { color: #219986; font-size: 14px; margin-bottom: 5px; }
.block-token-2 { color: #1acb1f; font-size: 15px; margin-bottom: 5px; }
.block-config-3 { color: #d06aa9; font-size: 13px; margin-bottom: 5px; }
.block-product-4 { color: #c90baa; font-size: 15px; margin-bottom: 5px; }